---
const today = new Date();
import Social from './Social.astro';
---

<footer>
	&copy; 2015 - {today.getFullYear()} E.H. Burgess. All rights reserved.
	<div class="social-links">
		<Social platform="twitter" username="helenbee" />
		<Social platform="github" username="hlnb" />
		<Social platform="mastodon" username="@helenbee" />
	</div>
</footer>

<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: var(--accent-dark);
		color: var(--white);
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 2em;
	}
	.social-links a {
		text-decoration: none;
		color: var(--white);
	}
	.social-links a:hover {
		color: rgb(var(--gray-light));
	}
	.icon {
		width: 2em;
		height: 2em;
		vertical-align: -0.125em;
	}
</style>
