---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h1>
			<a href="/">{SITE_TITLE}<img
				src="/logos/HelenB_DotPattern_Square.png"
				width="25px"
			/>
		</a>
		</h1>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/writings">writings</HeaderLink>
			<HeaderLink href="/about">my story</HeaderLink>
			<HeaderLink href="/contact">contact me</HeaderLink>
		</div>
		</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: #26215a;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h1 {
		margin: 0;
		font-size: 3em;
	}

	h1 a,
	h1 a.active {
		text-decoration: none;
	}

	a > img{
    position: relative;
    top: -15px;
    left: 9px;
    background-color: white;
    padding: 3px;
	}
	/* nav styles */
	.hamburger {
  padding-right: 20px;
  cursor: pointer;
}
.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--white);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.hamburger{
		display: none;
	}
	.social-links,
	.social-links a {
		display: flex;
	}

	.icon {
		width: 2em;
		height: 2em;
		vertical-align: -0.125em;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
